* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Monaco','Courier New', Courier, monospace;
    background-color: peachpuff;
}

.menu-main {
    padding: 50px;
}

#main {
    margin: 50px;
}

h1 {
    font-size: 3rem;
}

nav {
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    border-top: 1px black solid;
}

nav p {
    cursor: pointer;
}

#content h2 {
    font-size: 2rem;
}